.navbar {

  .logo {
    img {
      height: 100%;
      width: 100px;
      object-fit: cover;
    }
  }

  .nav-item {
    padding: 10px;
    font-size: 20px;
  }

  .active-link {
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: var(--fourth-color);
  }
}

// .link {
//   font-weight: bold;
//   color: var(--secondary-color);
// }
