<div class="banner">
  <h1>Colorful Life <br>Life under the brush</h1>
  <p>Scroll through my gallery of original paintings and collages. <br> Some work can be viewed and purchased from the
    galleries listed on my Events page, or bought from my shop.</p>
  <div class="detailbtn">
    <a class="details" routerLink="menu" (click)="scrollTo(art)">Details <i class="bi bi-arrow-right"></i></a>
  </div>
</div>

<div #art class="newest-arts">
  <div class="overlay">
    <h1 class="title pt-5 pb-5">Arts</h1>
    <div class="row">
      <div class="col-lg-4" *ngFor="let fd of productData">
        <div class="items pb-5" *ngIf="fd.id <= 3">
          <img src="{{fd.productUrl}}" (click)="navigate(fd.id)" />
          <h1 class="pd-name">{{fd.productName}}</h1>
          <p class="pd-price">{{fd.productPrice | currency: '$'}}</p>
        </div>
      </div>
    </div>
    <a routerLink="arts" class="viewmore-btn">View more <i class="bi bi-arrow-right"></i></a>
  </div>
</div>

<div class="newest-arts">
  <div class="overlay">
    <h1 class="title pt-5 pb-5">Arts</h1>
    <div class="row">
      <div class="col-lg-4" *ngFor="let fd of productData">
        <div class="items pb-5" *ngIf="fd.id <= 3">
          <img src="{{fd.productUrl}}" (click)="navigate(fd.id)" />
          <h1 class="pd-name">{{fd.productName}}</h1>
          <p class="pd-price">{{fd.productPrice | currency: '$'}}</p>
        </div>
      </div>
    </div>
    <a routerLink="arts" class="viewmore-btn">View more <i class="bi bi-arrow-right"></i></a>
  </div>
</div>
